<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>jQuery Scrollify - Pagination Example</title>
<meta name="description" content="A jQuery Scrollify example of implementing pagination.">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title" content="jQuery Scrollify - Pagination Example">
<meta property="og:type" content="website">
<meta property="og:description" content="A jQuery Scrollify example of implementing pagination.">
<link href="/vendor/bootstrap/css/bootstrap.min.css" , rel="stylesheet" />
<link href="/css/jquery.fullpage.css" , rel="stylesheet" />

<!--[if lt IE 9]>
  <script src="script/html5shiv.min.js"></script>
  <![endif]-->
<link href="https://fonts.googleapis.com/css?family=Lato|Maven+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/custom.css" />
