<nav class="navbar navbar-expand-lg navbar-dark bg-sylo">
  <a class="navbar-brand mr-auto" href="/">
    <img src="/img/SYLO-logo-whitetext-horizontal.png" />
  </a>
  <button class="navbar-toggler navbar-nav" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://blog.meetsylo.com">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://app.meetsylo.com">Sign In</a>
    </li>
    <li class="nav-item ml-2">
      <a class="btn btn-outline-light" href="/">Request a demo</a>
    </li>
  </ul>
</div>
</nav>
