doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author", content="")
    title Grayscale - Start Bootstrap Theme
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    // Custom fonts for this template
    link(href="vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Cabin:700", rel="stylesheet", type="text/css")
    // Custom styles for this template
    link(href="css/grayscale.min.css", rel="stylesheet")
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href="#page-top") Start Bootstrap
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
          | Menu
          i.fa.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#about") About
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#download") Download
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#contact") Contact
    // Intro Header
    header.masthead
      .intro-body
        .container
          .row
            .col-lg-8.mx-auto
              h1.brand-heading Grayscale
              p.intro-text
                | A free, responsive, one page Bootstrap theme.
                br
                | Created by Start Bootstrap.
              a.btn.btn-circle.js-scroll-trigger(href="#about")
                i.fa.fa-angle-double-down.animated
    // About Section
    section#about.content-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2 About Grayscale
            p
              | Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              a(href="http://startbootstrap.com/template-overviews/grayscale/") the preview page
              | . The theme is open source, and you can use it for any purpose, personal or commercial.
            p
              | This theme features stock photos by
              a(href="http://gratisography.com/") Gratisography
              |               along with a custom Google Maps skin courtesy of
              a(href="http://snazzymaps.com/") Snazzy Maps
              | .
            p
              | Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!
    // Download Section
    section#download.download-section.content-section.text-center
      .container
        .col-lg-8.mx-auto
          h2 Download Grayscale
          p You can download Grayscale for free on the preview page at Start Bootstrap.
          a.btn.btn-default.btn-lg(href="http://startbootstrap.com/template-overviews/grayscale/") Visit Download Page
    // Contact Section
    section#contact.content-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2 Contact Start Bootstrap
            p
              | Feel free to leave us a comment on the
              a(href="http://startbootstrap.com/template-overviews/grayscale/") Grayscale template overview page
              |               on Start Bootstrap to give some feedback about this theme!
            ul.list-inline.banner-social-buttons
              li.list-inline-item
                a.btn.btn-default.btn-lg(href="https://twitter.com/SBootstrap")
                  i.fa.fa-twitter.fa-fw
                  span.network-name Twitter
              li.list-inline-item
                a.btn.btn-default.btn-lg(href="https://github.com/BlackrockDigital/startbootstrap")
                  i.fa.fa-github.fa-fw
                  span.network-name Github
              li.list-inline-item
                a.btn.btn-default.btn-lg(href="https://plus.google.com/+Startbootstrap/posts")
                  i.fa.fa-google-plus.fa-fw
                  span.network-name Google+
    // Map Section
    #map
    // Footer
    footer
      .container.text-center
        p Copyright © Your Website 2017
    // Bootstrap core JavaScript
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
    // Plugin JavaScript
    script(src="vendor/jquery-easing/jquery.easing.min.js")
    // Custom scripts for this template
    script(src="js/grayscale.js")
